<div class="page" id = "home-container">
        <div class="container text-center text-white p-3">
          <h1 class="display-3">Blogs</h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">sign up »</a></p>
        </div>
      </div>


<footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">
  <!-- Grid container -->
  <div class="container p-4"></div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href= "https://www.rvjtech.net/">Rvj.info</a>
  </div>
  <!-- Copyright -->
</footer>