

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: darkgray;">
    © 2020 Copyright:
    <a class="text-white" href= "https://www.rvjtech.net/">Rvj.info</a>
  </div>
  <!-- Copyright -->
</footer>